venv/ 
db.sqlite3 
db_settings.cnf
db
__pycache__/
.idea/
__init__.py
.bash_history
.bash_logout         
.bashrc         
.cache/
.local/         
.profile         
.python_history         
.sqlite_history         
.ssh/         
.sudo_as_admin_successful
.gitconfig
media/
requirements.txt

