*{
    margin: 0px;
    padding: 0px;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	background: #b2b2b2;
	color: #50394c;
	line-height: 1.6;
	height: 100vh;
	overflow: hidden;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.container{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

section{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	scroll-snap-align: center;
	background-image: radial-gradient(#50394c, #b2b2b2);
}

.sec-container{
    width: 60%;
    max-height: 80vh;
    padding: 2rem;
    border: .2rem solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec-container a:hover{
    border-bottom: 1px solid white;
}
.sec-container h1{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

.sec-container p{
    color: #f4e1d2;
    font-size: 1.5rem;
}

.container-about{
    height: 75vh;
    background: url("../images/joesheadshot.jpg") no-repeat center center;
    background-size: cover;
}

.container-projects{
    height: 75vh;
}

.projects-grid, .ranklists-grid{
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 2rem;
}

.projects-grid h3, .ranklists-grid h3{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

.projects-grid p, .ranklists-grid p{
    font-size: 1.2rem;
    text-align: left;
}

.project-item, .ranklists-item{
    padding: 2rem;
    border: 2px solid black;
}

.ranklists-item{
    overflow-y: scroll;
    max-height: 40vh;
}
.ranklists-item p{
    text-align: center;
}

.ranklists-item a{
    text-transform: none;
}

.container-contact{
    height: 75vh;
}

.contact-list{
    font-size: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-list a{
    padding: 3rem;
}

.contact-list a:hover{
    border: none;
    opacity: 0.5;
}

.ranklists-grid{

}
@media(max-width: 1200px){
    .projects-grid p{
        font-size: 1rem;
    }
    .projects-grid h3{
        font-size: 1.5rem;
    }
}

@media(max-width: 1000px){
    .projects-grid, .ranklists-grid{
        grid-template-columns: auto;
    }
    .container-projects h1{
        font-size: 2.5rem;
    }
    .container-projects p{
        font-size: 1rem;
    }
}

@media(max-width: 768px){
    .container{
        scroll-snap-type: none;
        -webkit-overflow-scrolling: touch;
    }
    .sec-container{
        width: 80%;
        height: 100vh;
        border: none;
        border-radius: 0px;
    }

    .projects-grid, .ranklists-grid{
        grid-template-columns: auto;
    }
    .container-projects h1{
        font-size: 2.5rem;
    }
    .projects-grid p{
        display: none;
    }
    .container-contact a{
        font-size: 3rem;
        padding: 1rem;
    }
}