<!DOCTYPE html>
<html lang="en">
    {%load static%}
    <head>
        <link rel = "stylesheet" href = "{%static 'css/new-landing.css' %}">
        <title>Something went wrong!</title>
    </head>
    <body>
        <h1>Something went wrong!</h1>
        <p>The page you were looking for could not be found, or there is a server issue</p>
        <a href = "{%url 'index' %}"><img src = "https://www.memesmonkey.com/images/memesmonkey/57/57e2a44dec0db06ad97c06bb0bd0ba97.jpeg"></a>
    </body>
</html>